.fancy-orange .ajax__tab_header 
{
    background:url(img/orange_bg.gif) repeat-x;
}
.fancy-orange .ajax__tab_hover .ajax__tab_outer,
.fancy-orange .ajax__tab_active .ajax__tab_outer 
{
    background:url(img/orange_left.gif) no-repeat left top;
}
.fancy-orange .ajax__tab_hover .ajax__tab_inner,
.fancy-orange .ajax__tab_active .ajax__tab_inner 
{
    background:url(img/orange_right.gif) no-repeat right top;
}
