.fancy-purple .ajax__tab_header 
{
    background:url(img/purple_bg.gif) repeat-x;
}
.fancy-purple .ajax__tab_hover .ajax__tab_outer,
.fancy-purple .ajax__tab_active .ajax__tab_outer 
{
    background:url(img/purple_left.gif) no-repeat left top;
}
.fancy-purple .ajax__tab_hover .ajax__tab_inner,
.fancy-purple .ajax__tab_active .ajax__tab_inner 
{
    background:url(img/purple_right.gif) no-repeat right top;
}
